ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.links {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
}


.links li {
  margin-right: 15px;
  cursor: pointer;
}


.links button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.links button:hover {
  background-color: #0056b3;
}